@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flex-column-left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

@mixin mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@mixin header-style-desktop {
  font-weight: 300;
  font-size: 1.5rem;
  color: map-get($primary-color, primary);
}
