$secondary-color: (
  "primary": #020202,
  "light": #2d2d2d,
  "dark": #000000
);

$primary-color: (
  "primary": #fff59d,
  "light": #ffffcf,
  "dark": #cbc26d
);

$font: (
  light: #c7c7c7
);

$overlay: (
  "primary": rgba(2, 2, 2, 0.7)
);
