.cta {
  margin-top: 2rem;
  padding: 0.4rem 0.8rem;
  border: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  font-family: inherit;
  color: map-get($secondary-color, primary);
  // background: map-get($colors, text);
  text-align: left;
  border-bottom: 1px solid map-get($primary-color, primary);

  // background: linear-gradient(to right, map-get($colors, dark) 50%, white 50%);
  background: linear-gradient(
    to right,
    map-get($secondary-color, primary) 50%,
    map-get($primary-color, primary) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.cta:hover {
  background-position: left bottom;
  color: map-get($primary-color, primary);
}

.cta-input {
  padding: 0.2rem 0.6rem;
  font-size: 0.8rem;
  margin: 0;
}
